

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #a5a5a5;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.button{
    width: 60px;
    height: 60px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 7px;

    filter: drop-shadow(6px 6px 7px #000000b1);
    box-shadow: inset 1.5px 1px 1px  #ffffff85, inset -1px -2px 1px #00000047;
    font-family: Arial, Helvetica, sans-serif;
}
.button:hover{
    cursor: pointer;
    transform: translateX(1px) translateY(1px);
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(3px 3px 4px #00000000);
}

.small-button{
    width: 70px;
    height: 30px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 7px;

    filter: drop-shadow(6px 6px 7px #000000);
    box-shadow: inset 1px 1px 2px  #ffffff85, inset -1px -2px 1px #00000047;
    font-family: Arial, Helvetica, sans-serif;
}
.small-button:hover{
    cursor: pointer;
    transform: translateX(1px) translateY(1px);
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(3px 3px 4px #00000000);
}

.round-btn-outline{
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 50%;
    margin: 10px;

    padding: 2px;
    filter: drop-shadow(6px 6px 7px #000000b1);
    box-shadow: inset 1.5px 1px 1px  #ffffff85, inset -1px -2px 1px #00000047;
    font-family: Arial, Helvetica, sans-serif;
}
.round-button{
    width: 45px;
    height: 45px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 50%;
    cursor: pointer;

    filter: drop-shadow(6px 6px 7px #000000b1);
    box-shadow: inset 1.5px 1px 1px  #ffffff5e, inset -1px -2px 1px #00000024;
    font-family: Arial, Helvetica, sans-serif;
}.round-button:hover{
    transform: translateX(1px) translateY(1px);
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(3px 3px 4px #00000000);
}

.black{
    background-color: #272727;
    color: rgb(213, 208, 204);
}
.grey{
    background-color: #b3b3b3;
    color: rgb(255, 255, 255);
}
.dark-grey{
    background-color: #5c5c5c;
    color: white;
}
.white{
    background-color: #e7e2df;
    color: black;
}
.red{
    background-color: #f82f1d;
    color: white;
}

.btn-bg{
    background-color: #1c1c1c;
    padding: 1px 2px 2px 1px;
    margin: 10px;
    box-shadow: inset 1.5px 1px 1px  #ffffff85;
    filter: drop-shadow(1.5px 1px 1px #d4d4d4);

}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 10px;
    box-shadow: inset 5px 5px 2px #140800;

    border-radius: 7px;
    background: #352012;
    outline: none;
    margin: 50px auto;
    display: block;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #5c5959 solid 0.1px;
    background: #5c5959;
    cursor: pointer;
    filter: drop-shadow(6px 6px 7px #000000);
    box-shadow: inset 1px 1px 1px  #ffffff85, inset -1px -2px 1px #00000047;
}